<nav>
    <ul>
        <li><a href="{{ url('overwatch_user_app_index') }}#/"><i class="icon-test"></i> Dashboard</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}<li><a href="{{ url('overwatch_user_app_index') }}#/users"><i class="icon-users"></i> Manage Users</a></li>{% endif %}
        <li><a href="{{ url('overwatch_user_app_index') }}#/alerts"><i class="icon-bell"></i> Change alert settings</a></li>
        <li><a href="{{ url('fos_user_change_password') }}"><i class="icon-key"></i> Change Password</a></li>
        <li><a href="{{ url('fos_user_security_logout') }}"><i class="icon-exit"></i> Logout</a></li>
    </ul>
</nav>