<!DOCTYPE html>
<html data-ng-app="overwatch">
    <head>
        <meta charset="UTF-8" />
        <title data-idle-disabled="true">Overwatch</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/app.css') }}" />
        {% endblock %}
    </head>

    <body {% if app.user %}class="logged-in"{% endif %}>
        {% block sidebar %}
            <aside class="sidebar">
                <div class="white-label">
                    <span class="logo">Overwatch</span>
                </div>

                {% block sidebar_content %}{% endblock %}

                <footer>
                    <p>By <a href="https://github.com/zsturgess/overwatch/graphs/contributors" target="_blank">Zac Sturgess &amp; Contributors</a>.</p>
                    <p>Licensed under the <a href="https://raw.githubusercontent.com/zsturgess/overwatch/master/LICENSE" target="_blank">MIT License</a>.</p>
                </footer>
            </aside>
        {% endblock %}

        <section class="content {% if not app.user %}full-width{% endif %}">
            <header>

                <div class="header-nav">

                    <div id="loading" data-ng-show="isLoading">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>

                    <ul>
                        {#
                            {% if app.user %}
                                <li class="nav-settings">
                                    <div class="font-icon"><i class="fa fa-tasks"></i></div>
                                </li>
                                <li class="nav-mail">
                                    <div class="font-icon"><i class="fa fa-envelope-o"></i></div>
                                </li>
                                <li class="nav-calendar">
                                    <div class="font-icon"><i class="fa fa-calendar"></i></div>
                                </li>
                                <li class="nav-chat">
                                    <div class="font-icon"><i class="fa fa-comments-o"></i></div>
                                </li>
                            {% endif %}
                        #}

                        <li class="nav-profile">
                            {% if app.user %}
                                <div class="nav-profile-image">
                                    {% if gravatar_exists(app.user.email) %}
                                        <img src="{{ gravatar(app.user.email) }}" />
                                    {% endif %}
                                    <div class="nav-profile-name">
                                        {{app.user}} <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>

                                <ul>
                                    <li><a href="{{ url('overwatch_user_app_index') }}#/my-account"><i class="fa fa-cogs" aria-hidden="true"></i> My Account</a></li>
                                    <li><a href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                                </ul>
                            {% else %}
                                <div class="nav-profile-image">
                                    <div class="nav-profile-name">
                                        <span class="logo">Overwatch</span>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
