<div class="content-header">
    <h1>My Account</h1>
</div>

<form class="profile-details" data-ng-submit="saveProfile()">
    <label for="telephone-number">
        Your phone number:
        <a class="hint"
           title="This telephone number will be sent SMS alerts if your administrator has configured them (as per your alert settings)">
            <i class="icon-test"></i> How's this used?
        </a>
    </label>
    <input id="telephone-number" type="text" data-ng-model="telephoneNumber" />
    <input type="submit" value="Save" />
</form>

<div class="change-password">
    <h2>Change Password</h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>

<div class="api-access">
    <h2>API Access</h2>
    <form>
        <p>For more information on the Overwatch REST API, please see the <a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API documentation</a> and <a href="https://github.com/zsturgess/overwatch/blob/master/app/Resources/docs/api.md" target="_blank">API guide</a>.</p>
        <label>Your User ID is: {{ app.user.id }}</label>
        <label>Your API Key is:</label>
        <input id="api-key" type="{% verbatim %}{{ apiKeyFieldType }}{% endverbatim %}" value="{{ app.user.apiKey }}">
        <p class="api-actions">
            <a data-ng-click="toggleAPIKeyVisibility()"><i class="icon-test"></i> Show/Hide</a>
            <a href="{{ path('overwatch_user_app_resetapikey') }}"><i class="icon-key"></i> Reset</a>
        </p>
    </form>
</div>
