<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="full-width">
    <h2>Change Password</h2>

    {{ form_start(form, {action: path('fos_user_change_password')}) }}
        {{ form_errors(form) }}

        <div class="control-group">
            {{ form_errors(form.current_password) }}

            {{ form_widget(form.current_password, {attr: {placeholder: 'Current Password'}}) }}
            {{ form_label(form.current_password, null, {label_attr: {class: 'hide'}}) }}
        </div>

        <div class="control-group">
            {{ form_errors(form.new.first) }}

            {{ form_widget(form.new.first, {attr: {placeholder: 'New Password'}}) }}
            {{ form_label(form.new.first, null, {label_attr: {class: 'hide'}}) }}
        </div>

        <div class="control-group">
            {{ form_errors(form.new.second) }}

            {{ form_widget(form.new.second, {attr: {placeholder: 'Repeat New Password'}}) }}
            {{ form_label(form.new.second, null, {label_attr: {class: 'hide'}}) }}
        </div>

        <div class="control-group">
            {{ form_rest(form) }}
            <input class="btn btn-blue btn-submit" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    {{ form_end(form) }}

</form>
