<section class="intro">
    <h1>My Account</h1>
</section>

<div class="profile-details">
    <form data-ng-submit="saveProfile()" class="full-width">
        <h2>Phone Number</h2>
        <p class="description">
            <strong>How's this used?</strong><br />
            This telephone number will be sent SMS alerts if your administrator has configured them (as per your alert settings).
        </p>

        <div class="control-group">
            <input id="telephone-number" placeholder="Your phone number" type="text" data-ng-model="telephoneNumber" />
            <label for="telephone-number"></label>
        </div>

        <div class="control-group">
            <input class="btn btn-blue btn-submit" type="submit" value="Save" />
        </div>
    </form>
</div>

<div class="change-password">
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>

<div class="api-access">
    <form class="full-width">
        <h2>API Access</h2>
        <p class="description">For more information on the Overwatch REST API, please see the <a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API documentation</a> and <a href="https://github.com/zsturgess/overwatch/blob/master/app/Resources/docs/api.md" target="_blank">API guide</a>.</p>

        <div class="control-group">
            <label><strong>Your User ID is:</strong> {{ app.user.id }}</label>
        </div>

        <div class="control-group">
            <p>Your API Key is:</p>

            <div class="password-toggle">
                <input id="api-key" type="{% verbatim %}{{ apiKeyFieldType }}{% endverbatim %}" value="{{ app.user.apiKey }}">
                <a data-ng-click="toggleAPIKeyVisibility()" class="toggle-btn">
                    <i class="fa" ng-class="{'fa-eye-slash': apiKeyFieldType == 'password', 'fa-eye': apiKeyFieldType == 'text'}" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="control-group">
            <a class="btn btn-warning" href="{{ path('overwatch_user_app_resetapikey') }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Reset</a>
        </div>
    </form>
</div>
