{% extends "::base_angular.html.twig" %}

{% block content %}
<ul class="breadcrumbs ng-scope">
    <li><a href="/#/">Overwatch</a></li>
    <li>My Account</li>
</ul>

<h1>My Account</h1>

<div class="change-password">
    <h2>Change Password</h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>

<div class="api-access">
    <h2>API Access</h2>
    <form>
        <p>For more information on the Overwatch REST API, please see the <a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API documentation</a> and <a href="https://github.com/zsturgess/overwatch/blob/master/app/Resources/docs/api.md" target="_blank">API guide</a>.</p>
        <label>Your User ID is: {{ app.user.id }}</label>
        <label>Your API Key is:</label>
        <input id="api-key" type="password" value="{{ app.user.apiKey }}">
        <p class="api-actions">
            <a href="javascript:toggleAPIKeyVisibility();"><i class="icon-test"></i> Show/Hide API Key</a>
            <a href="{{ path('overwatch_user_app_resetapikey') }}"><i class="icon-key"></i> Reset API Key</a>
        </p>

    </form>
</div>

<div id="edit-telephone-number" ng-controller="EditTelephoneNumberController">
    <h2>Telephone number</h2>

    <form ng-submit="save()">
        <label for="telephone-number">Your phone number to send SMS messages to:</label>
        <input id="telephone-number" type="text" ng-model="telephoneNumber" />
        <input type="submit" value="Save" />
    </form>
</div>

{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script type='text/javascript'>
    function toggleAPIKeyVisibility() {
        var key = document.getElementById('api-key');
        var type = "password";

        if (key.getAttribute("type") === "password") {
            type = "text";
        }

        key.setAttribute("type", type);
    }
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #edit-telephone-number {
            clear: both;
            padding-top: 20px;
            width: 50%;
        }
    </style>
{% endblock %}
