{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form class="center-form" action="{{ path("fos_user_security_check") }}" method="post">
    <h1>Login</h1>

    {% if error %}
        <div class="warning-message full-width"><i class="fa fa-warning"></i> {{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="control-group">
        <input class="login-field" type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ last_username }}" required="required" />
        <label class="login-field-icon fui-user" for="username"></label>
    </div>

    <div class="control-group">
        <input class="login-field" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required" />
        <label class="login-field-icon fui-lock" for="password"></label>
    </div>

    <div class="control-group checkbox-group left-align padding">
        <input class="login-field-checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label class="login-form-checkbox-label" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>

    <input class="btn btn-blue btn-submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    <a class="bottom-link" href="{{ url('fos_user_resetting_request') }}">Lost your password?</a>
</form>

{% endblock fos_user_content %}
